.c-app-appointment-content {
  padding: 10px;
  height: calc(100vh - 84px);
  display: block;
  overflow: hidden;
  position: relative;

  .c-app-book-left-corner {
    width: 48px;
    font-size: 12px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    height: 84px;
    color: #909090;
  }

  .c-app-book-space {
    width: 8px;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    position: relative;
  }

  .c-app-book-grid-list {
    width: calc(100% - 99px);
  }

  .c-app-book-header {
    position: absolute;
    height: 84px;
    width: 100%;
    margin-bottom: 0;
    display: flex;
    border-bottom: 1px solid #e0e0e0;

    .c-app-book-header-title {
      max-width: 14.7%;

      .c-app-ver-divider {
        width: 1px;
        height: 20px;
        background-color: #e0e0e0;
        position: absolute;
        bottom: 0;
        left: 0;
      }

      .c-app-header-title-label {
        flex: 1 1 100%;
        display: flex;
        flex-direction: column;
        align-items: center;

        .c-app-header-week-label {
          font-size: 14px;
        }
      }
    }
  }

  .c-app-book-content {
    overflow-y: auto;
    height: calc(100vh - 188px);
    max-height: calc(100vh - 188px);
    margin-top: 84px;
    width: 100%;
    display: flex;
    position: relative;

    .c-app-book-time-list {
      width: 58px;

      .c-app-book-left-corner {
        height: 48px;
      }

      .c-app-book-content-list {
        display: flex;

        .c-app-book-space {
          border-right: 1px solid #e0e0e0;
          height: 48px;

          &:after {
            content: "";
            border-bottom: 1px solid #e0e0e0;
            width: 100%;
            height: 48px;
            z-index: 3;
            top: -2px;
            pointer-events: none;
            position: absolute;
          }
        }
      }
    }

    .c-app-book-content-grid-list {
      width: calc(100% - 56px);

      .c-app-grid-time-list {
        .c-app-book-timeline {
          height: 48px;

          &:after {
            content: "";
            border-bottom: 1px solid #e0e0e0;
            position: absolute;
            width: 100%;
            height: 48px;
            margin-top: -2px;
            z-index: 3;
            pointer-events: none;
          }
        }
      }

      .c-app-appointment-description {
        width: 100%;
        height: 100%;
        min-width: 14.7%;
        border-right: 1px solid #e0e0e0;
        display: block;
        position: relative;
      }
    }
  }
}

::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #d6dee1;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #a8bbbf;
}
